In [2]:
# apriori algorithm: market basket analysis (here we use permuntation and combination)

In [1]:
# Rule/process:
# a. concept of association rule
# # apriori algorithm
# Implementatin aproior using python

In [4]:
# Association Rule
    # Association Rule learning is a technique used in

In [5]:
!pip install apyori

Requirement already satisfied: apyori in d:\data_science\jupyter_notebook\venv\lib\site-packages (1.1.2)

[notice] A new release of pip is available: 23.2.1 -> 24.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [6]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from apyori import apriori

In [7]:
# load dataset
dataset = pd.read_csv(r"D:\Data_Science\Jupyter_Notebook\MachineLearning\UnSupervisedMachineLearning\aprioriDataset.csv", delimiter=";", low_memory=False)

In [8]:
df = dataset.copy()

In [9]:
df.head()

,BillNo,Itemname,Quantity,Date,Price,CustomerID,Country
0,536365,WHITE HANGING HEART T-LIGHT HOLDER,6,01.12.2010 08:26,"2,55",17850.0,United Kingdom
1,536365,WHITE METAL LANTERN,6,01.12.2010 08:26,"3,39",17850.0,United Kingdom
2,536365,CREAM CUPID HEARTS COAT HANGER,8,01.12.2010 08:26,"2,75",17850.0,United Kingdom
3,536365,KNITTED UNION FLAG HOT WATER BOTTLE,6,01.12.2010 08:26,"3,39",17850.0,United Kingdom
4,536365,RED WOOLLY HOTTIE WHITE HEART.,6,01.12.2010 08:26,"3,39",17850.0,United Kingdom

In [10]:
df.isna().sum()

BillNo             0
Itemname        1455
Quantity           0
Date               0
Price              0
CustomerID    134041
Country            0
dtype: int64

In [11]:
# dropping all rows where itemname is 'NA' in column 'Itemname'
df.dropna(subset=['Itemname'], inplace=True)

In [12]:
df.isnull().sum()

BillNo             0
Itemname           0
Quantity           0
Date               0
Price              0
CustomerID    132586
Country            0
dtype: int64

In [13]:
# E finding duplicates
df.duplicated().sum()

5286

In [14]:
# dropping duplicates values
df = df.drop_duplicates()

In [15]:
df.duplicated().sum()

0

# Data preparation

In [16]:
df.head()

,BillNo,Itemname,Quantity,Date,Price,CustomerID,Country
0,536365,WHITE HANGING HEART T-LIGHT HOLDER,6,01.12.2010 08:26,"2,55",17850.0,United Kingdom
1,536365,WHITE METAL LANTERN,6,01.12.2010 08:26,"3,39",17850.0,United Kingdom
2,536365,CREAM CUPID HEARTS COAT HANGER,8,01.12.2010 08:26,"2,75",17850.0,United Kingdom
3,536365,KNITTED UNION FLAG HOT WATER BOTTLE,6,01.12.2010 08:26,"3,39",17850.0,United Kingdom
4,536365,RED WOOLLY HOTTIE WHITE HEART.,6,01.12.2010 08:26,"3,39",17850.0,United Kingdom

In [17]:
df.set_index("BillNo")

,Itemname,Quantity,Date,Price,CustomerID,Country
BillNo,,,,,,
536365,WHITE HANGING HEART T-LIGHT HOLDER,6,01.12.2010 08:26,"2,55",17850.0,United Kingdom
536365,WHITE METAL LANTERN,6,01.12.2010 08:26,"3,39",17850.0,United Kingdom
536365,CREAM CUPID HEARTS COAT HANGER,8,01.12.2010 08:26,"2,75",17850.0,United Kingdom
536365,KNITTED UNION FLAG HOT WATER BOTTLE,6,01.12.2010 08:26,"3,39",17850.0,United Kingdom
536365,RED WOOLLY HOTTIE WHITE HEART.,6,01.12.2010 08:26,"3,39",17850.0,United Kingdom
...,...,...,...,...,...,...
581587,PACK OF 20 SPACEBOY NAPKINS,12,09.12.2011 12:50,"0,85",12680.0,France
581587,CHILDREN'S APRON DOLLY GIRL,6,09.12.2011 12:50,"2,1",12680.0,France
581587,CHILDRENS CUTLERY DOLLY GIRL,4,09.12.2011 12:50,"4,15",12680.0,France
581587,CHILDRENS CUTLERY CIRCUS PARADE,4,09.12.2011 12:50,"4,15",12680.0,France
581587,BAKING SET 9 PIECE RETROSPOT,3,09.12.2011 12:50,"4,95",12680.0,France

In [18]:
# stacking items of same bill no
items = df.set_index('BillNo').stack()

In [19]:
items=pd.DataFrame(items)
items.head()

                                                    0
BillNo
536365 Itemname    WHITE HANGING HEART T-LIGHT HOLDER
       Quantity                                     6
       Date                          01.12.2010 08:26
       Price                                     2,55
       CustomerID                             17850.0

In [20]:
# renaming columns name '0'
items.rename(columns={0:'list'}, inplace=True)

In [21]:
items.head()

                                                 list
BillNo
536365 Itemname    WHITE HANGING HEART T-LIGHT HOLDER
       Quantity                                     6
       Date                          01.12.2010 08:26
       Price                                     2,55
       CustomerID                             17850.0

In [22]:
items.index[0]

('536365', 'Itemname')

In [23]:
items.index.levels[0]

Index(['536365', '536366', '536367', '536368', '536369', '536370', '536371',
       '536372', '536373', '536374',
       ...
       '581581', '581582', '581583', '581584', '581585', '581586', '581587',
       'A563185', 'A563186', 'A563187'],
      dtype='object', name='BillNo', length=20208)

In [2]:
products=[]
for i in (items.index.levels[0]):
    product = items.loc[(i, ['Itemname']), 'list'].to_list()
    products.append(product)

NameError: name 'items' is not defined

In [ ]:
# products[0]

In [ ]:
# products.head()

In [ ]:
# here